//---------------------------------------------------------------------------
//----------------------------- Primary color -------------------------------
//---------------------------------------------------------------------------

$primaryBlack: #1a1918;
$primaryBrown: #443020;
$primaryGray: #5b5643;
$primaryOrange: #d5921a;
$primaryWhite: #f9f4e6;

$tablet: 768px;
$mobile: 425px;

//---------------------------------------------------------------------------
//--------------------------------- Mixins ----------------------------------
//---------------------------------------------------------------------------

@mixin padding {
  padding: 10px;
  box-sizing: border-box;
}

@mixin coverFit {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

//---------------------------------------------------------------------------
//-------------------------------- General ----------------------------------
//---------------------------------------------------------------------------

//---------------------------------------------------------------------------
//--------------------------------- Header ----------------------------------
//---------------------------------------------------------------------------

header {
  @include padding;

  .logo {
    width: 200px;
    height: 45px;
    display: inline-flex;
    flex-wrap: wrap;

    @media screen and (min-width: $tablet) {
      height: 70px;
    }

    .logoImg {
      width: 45px;
      height: 45px;
      display: inline-block;
      border-radius: 50%;
      overflow: hidden;
      background: $primaryOrange;

      @media screen and (min-width: $tablet) {
        margin-left: 20px;
        height: 70px;
        width: 70px;
      }

      img {
        @include coverFit;
      }
    }

    .logoTitle {
      margin-left: 10px;
      display: inline-flex;
      align-items: center;
      color: $primaryGray;

      h2 {
        display: inline-block;
        font-size: 1.2em;

        @media screen and (min-width: $tablet) {
          font-size: 1.5em;
        }
      }
    }
  }
}

//---------------------------------------------------------------------------
//---------------------------------- Main -----------------------------------
//---------------------------------------------------------------------------

main {
  .globalBtn {
    width: 100vw;
    height: 100vh;
    position: sticky;
    top: 0px;
    left: 0px;
  }

  //-------------------------------- Greetings --------------------------------

  .polaroidBox {
    position: relative;
    width: 94%;
    transform: rotate(-3deg);

    .photoBox {
      width: 68.6%;
      height: 61%;
      position: absolute;
      top: 15.7%;
      left: 15.5%;

      .photo {
        @include coverFit;
      }
    }

    .nameBox {
      width: 70%;
      height: 10%;
      position: absolute;
      top: 80%;
      left: 15%;

      h2 {
        font-family: "Style Script", cursive;
      }
    }
  }

  .greetingsBox {
    width: 73%;
    height: 60%;
    position: absolute;
    top: 35%;
    left: 12%;

    h1 {
      font-size: 1.5em;
    }

    h2 {
      font-size: 1em;
    }

    @media screen and (min-width: $mobile) {
      font-size: 1.5em;
    }
  }

  //---------------------------------- Demo -----------------------------------

  .demoBox {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}

//---------------------------------------------------------------------------
//--------------------------------- Footer ----------------------------------
//---------------------------------------------------------------------------

footer {
  .footerWrapper {
    justify-content: space-around;
    align-items: center;
  }

  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-around;
  background: #1a1918;
}
